.cards_container {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid rgba(76, 160, 76, 0.8); */
  /* background-color: #fff; */
}
