.card {
  /* width: 100%; */
  border: 1px solid rgba(238, 237, 240, 0.521);
  border-radius: 30px;
  margin: 20px;
  margin-top: 20px;
  justify-content: space-between;
}
.card button {
  width: 100%;
  background-color: rgba(0, 255, 255, 0.979);
  font-size: 25px;
  border: 1.2px solid rgb(66, 66, 66);
  border-radius: 10px;
}
.card h2 {
  width: 100%;
  color: rgba(240, 0, 248, 0.486);
  font-size: 20px;
}
.card img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
