.btn1 {
  color: #fff;
  margin: 20px;
  font-size: larger;
  /* justify-content: center; */
  background-color: #000;
  transition: all 0.9s ease;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
}

.btn1:hover {
  color: #fff;
  background: rgba(255, 253, 253, 0.459);
}
